/*------------------------------------*\
  #PAGE
\*------------------------------------*/


html
  font-size: 100%

body
  background: colour-white
  color: colour-black
  font-family: ff-base
  font-size: 1em
  line-height: 1
