// base

*
  box-sizing: border-box

html
  font-size: 100%

body
  background: c-black
  color: c-white
  font-family: ff-base
  font-size: 1em
  line-height: 1

// autoprefixer test
:fullscreen a {
    transition: transform 1s
}

// cmq test
@media mq-default
  body
    background: c-white

@media mq-default
  body
    color: c-black
