// functions

// em2px and px2em
// http://git.io/cJlw7A

em2px(a, base = null)
  fontsize = base ? base : (basefontsize is defined ? basefontsize : 1);
  if unit(fontsize) == '%'
    fontsize = fontsize / 100;
  unit(a * 16 * fontsize, px);

px2em(a, base = null)
  fontsize = base ? base : (basefontsize is defined ? basefontsize : 1);
  if unit(fontsize) == '%'
    fontsize = fontsize / 100;
  unit((a / 16 / fontsize), em);
