// helpers

// Clearfix
cf()
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

// ...as class
.cf
  cf()


// Image replacement
ir()
  background-color: transparent
  border: 0
  overflow: hidden
  &:before
    content: ""
    display: block
    width: 0
    height: 150%

// ...as class
.ir
  ir()


// Hide visually and from screen readers
hidden()
  display: none !important
  visibility: hidden

// ...as class
.hidden
  hidden()


// Hide only visually, but have it available for screen readers
visuallyhidden()
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

// ...as class
.visuallyhidden
  visuallyhidden()
